extends layout

block content
  h1= title

  ul 
    li 
      a(href="/categorias/porModalidad") Modalidades 

    br
    
    li
      a(href="/participantes/porEquipo") Equipos participantes

    br

    li 
      a(href="/patrocinadores/equiposPatrocinados") Patrocinadores

    br

    li 
      a(href="/equipos/inscripciones") Inscripciones
