extends layout

block content
  h1= title

  ul 
    li 
      a(href="/modalidades/vista") Modalidades 

    br
    
    li
      a(href="/participantes/porEquipo") Equipos participantes

    br

    li 
      a(href="/patrocinantes/vista") Patrocinantes


