extends layout

block content
    h1= title

    a(href="/") Home

    br
    br

    a(href="/usuarios/logout") Log out

    ul
        each equipo in equipos
            li
                strong #{ equipo.categoria }
                p Inscritos:
                    ul
                        each equ in equipo.equipos
                            li #{ equ }
            br
      
