extends layout

block content
    h1= title

    a(href="/") Home

    ul
        each equipo in equipos
            li
                strong #{ equipo.categoria }
                p Inscritos:
                    ul
                        each equipo in equipo.equipos
                            li #{ equipo }
            br
      
