extends layout

block content
    h1= title

    a(href="/") Home

    br
    br

    a(href="/usuarios/logout") Log out

    ul
        each equipo in equipos
            li
                strong #{ equipo.equipo }
                p Integrantes:
                    ul
                        each participante in equipo.participantes
                            li #{ participante.apellido }, #{ participante.nombre }
            br
      
