extends layout

block content
    h1= title

    a(href="/") Home

    br
    br

    a(href="/usuarios/logout") Log out

    br
    br

    a(href="/participantes/ingresar") Ingresar nuevo participante

    ul
        each equipo in equipos
            li
                strong #{ equipo.equipo }
                p Integrantes:
                    ul
                        each participante in equipo.participantes
                            li #{ participante.apellido }, #{ participante.nombre }
                            a(href="/participantes/" + participante.id + "?_method=DELETE") Eliminar
                            br
                            a(href="/participantes/cambiar/" + participante.id) Editar
            br
      
