extends layout

block content
    h1= title

    a(href="/") Home

    br
    br

    a(href="/usuarios/logout") Log out

    br
    br

    a(href="/patrocinadores/ingresar") Ingresar nuevo patrocinador

    ul
        each equipo in equipos
            li
                strong #{ equipo.patrocinador }
                p Equipos patrocinados:
                    ul
                        each patrocinado in equipo.equipos_patrocinados
                            li #{ patrocinado }
            br
      