extends layout

block content
    h1= title

    - if (error)
        strong #{ error }

    br
    br

    form(action="/usuarios/registrar", method="post")
        label(for="usuario") Usuario: 
        input#usuario(type="text", name="usuario", required)
        br
        br
        label(for="nombre") Nombre completo: 
        input#nombre(type="text", name="nombre", required)
        br
        br
        label(for="rol") Rol del usuario: 
        select#rol(name="rol")
            each rol in roles 
                option(value=rol.id) #{ rol.rol }
        br
        br
        label(for="password") Contraseña: 
        input#password(type="password", name="password", required)
        br
        br
        input(type="submit", value="Registrar")

    br
    a(href="/usuarios/login") ¿Ya tienes una cuenta? Inicia sesión